<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <center class="wrapper">
        <div class="webkit">
            <table class="outer" align="center">

                <!--Logo-->
                <tr>
                    <td>
                        <table width="100%" style="border-spacing: 0;">
                            <tr>
                                <td style="background-color: whitesmoke; padding: 10px; text-align: center;">
                                    <a href="https://eposconsultants.com/">
                                        <img src="https://res.cloudinary.com/emacon-production/image/upload/v1613232216/Epos%20Training%20Consultants%20Limited/EPOS_NEW_PNG_mdkbnw.png"
                                            alt="logo" width="150px">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: rgb(46, 46, 184); padding: 10px; text-align: center;">
                                    <h3 class="foundationName">EPOS TRAINING CONSULTANTS</h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                {{{body}}}

                <!--Bottom Border-->
                <tr>
                    <td height="20px" style="background-color: rgb(46, 46, 184)"></td>
                </tr>

            </table>
        </div>
    </center>
</body>

</html>